@import '@fontsource/manrope';
@import '@fontsource/jetbrains-mono';

html {
	/* font */
	--font-system-ui: Georgia, serif;
	--font-monospace-code: 'JetBrains Mono', monospace;

	--white-1: #aaaaaa;
	--white-2: #cccccc;
	--white-3: #ffffff;
	--black-1: #555555;
	--black-2: #333333;
	--black-3: #000000;

	/* dark */
	--brand-dark: var(--orange-3);
	/* --text-1-dark: var(--gray-3); */
	/* --text-2-dark: var(--gray-5); */
	--text-1-dark: var(--white-2);
	--text-2-dark: var(--white-2);
	--surface-1-dark: var(--gray-12);
	--surface-2-dark: var(--gray-11);
	--surface-3-dark: var(--gray-10);
	--surface-4-dark: var(--gray-9);
	--background-dark: var(--gradient-8);
	--border-dark: var(--gray-8);

	/* light */
	--brand-light: var(--orange-10);
	/* --text-1-light: var(--gray-10); */
	/* --text-2-light: var(--gray-7); */
	--text-1-light: var(--black-2);
	--text-2-light: var(--black-1);
	--surface-1-light: var(--gray-0);
	--surface-2-light: var(--gray-1);
	--surface-3-light: var(--gray-2);
	--surface-4-light: var(--gray-3);
	--background-light: #fffff8;
	--border-light: var(--gray-4);

	/* size */
	--size-content-4: 75ch;
	--size-content-7: 120ch;
}

:root {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--brand: var(--brand-light);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--surface-1: var(--surface-1-light);
		--surface-2: var(--surface-2-light);
		--surface-3: var(--surface-3-light);
		--surface-4: var(--surface-4-light);
		--background: var(--background-light);
		--border: var(--border-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

[color-scheme='light'] {
	color-scheme: light;

	--brand: var(--brand-light);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
	--background: var(--background-light);
	--border: var(--border-light);
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background: var(--background);
	font-family: Crimson, Georgia, serif;
	max-width: 100%;
	/* overflow-x: hidden; */
}

html {
	color: var(--text-1);
	accent-color: var(--link);
	background-image: var(--background);
	background-attachment: fixed;
}

img {
	border-radius: var(--radius-3);
}

ul,
ol {
	padding: 0;
}

li {
	padding-inline-start: 0;
}

.surface-1 {
	background-color: var(--surface-1);
	color: var(--text-2);
}

.surface-2 {
	background-color: var(--surface-2);
	color: var(--text-2);
}

.surface-3 {
	background-color: var(--surface-3);
	color: var(--text-1);
}

.surface-4 {
	background-color: var(--surface-4);
	color: var(--text-1);
}

.prose :is(li, ol) {
	font-size: 22px;
	margin-left: 1rem;
}

.prose :is(h2, h3, h4, h5, h6) {
	/* font-weight: 550; */
	font-weight: bold;
    margin-top: var(--size-7);
    margin-bottom: var(--size-3);
}

.prose :is(h3, h4, h5, h6) {
	font-style: italic;
}

.prose :is(h2) {
	font-size: var(--font-size-5);
	/* margin: 0px 0px 20px; */
	margin-top: var(--size-8);
	padding-bottom: var(--size-3);
	border-bottom: 1px solid var(--border);
}

.prose :is(h3) {
	font-size: 30px;
	margin-top: var(--size-7);
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
    margin-top: var(--size-5);
}

.prose :is(ul, ol) {
    padding-left: var(--size-5);
}

.prose :is(ul, ol) li {
    margin-block: var(--size-2);
    padding-inline-start: var(--size-2);
}

.prose :is(p) {
	font-size: 22px;
	line-height: 1.4;
}

.prose pre {
    max-inline-size: 100%;
    padding: var(--size-3);
    border-radius: 8px;
    tab-size: 4;
    background: red;
	font-size: 15px;
}

.prose a {
	color: var(--text-1);
	font-weight: bold;
}

.prose blockquote {
	border-left: 2px solid var(--border);
	margin-inline: 0px;
	padding: 1px 1rem 1px 2rem;
	/* padding-left: 2rem; */
	background-color: var(--surface-2);
}

:where(h1) {
	font-size: var(--font-size-8);
	padding: 10px 0px 10px 0px;
	margin: 0px;
}

:where(h1, h2, h3, h4, h5, h6) {
	text-wrap: balance;
	/* line-height: */
}

svg {
 	font-size: 1em;
}

mjx-container[display="true"] {
	font-size: 1.3rem;
}

/* mjx-container[jax="SVG"].s-ebObN1ttWE3o > svg:where(.s-ebObN1ttWE3o) a:where(.s-ebObN1ttWE3o) { */
/*     fill: var(--text-1); */
/*     stroke: var(--text-1); */
/**/
/* } */

.prose img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

mjx-container[jax=SVG] a g {
    fill: var(--text-2);
    stroke: var(--text-1);
}
